# These values can be found in Sahha's dashboard.
# Create a file named `.env` in your project root and paste the environment variables below with their respective values.

CLIENT_ID=
CLIENT_SECRET=
PATIENT_ID=
